<%= render "layouts/header_search_form" %>
<% if @card_infos.present? %>
    <br />
    <br />
    <h3>Card Information:</h3>
    <br />
    <table border="1">
        <thead style="font-weight:bold; text-align: center;">
            <tr>
                <td>cvv</td>
                <% PcmCard.attribute_names.each do |attribute_name| %>
                    <td><%= attribute_name %></td>
                <% end %>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <% @card_infos.each do |card_info| %>
            <tr>
                <td>
                    <button onclick="getCvv(<%= card_info.id %>); this.remove(); ">Get CVV</button>
                    <label id="<%= card_info.id %>"></label>
                </td>
                <% card_info.attributes.values.each do |value| %>
                    <td><%= value %></td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <h3> Card Number <%= @cardNumber %> is not found. </h3>
<% end %>

<script type="text/javascript">
    function getCvv(card_uid) {
        $.getJSON('/cvv?id=' + card_uid, function(data) {
            document.getElementById(card_uid).innerHTML = data.cvv;
        });
    }
</script>